.student-card {
  width: 10%;
  margin: 0.5em 0.5em;
  height: 20%;
}
.student-card h5 {
  font-size: 0.3em;
}
.student-card p {
  font-size: 0.3em;
}
.shark-tank {
  width: 45%;
  background-color: lightskyblue;
  display: flex;
  flex-flow: row wrap;
  height: 50vh;
  justify-content: space-evenly;
  margin-left: 3em;
  border-radius: 40%;
  
}