.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.shark-tank-wrapper {
  margin-bottom: 1em;
  margin-top: 1em;
  width: 100%;
}
.grave-yard-wrapper {
width: 100%;
margin-left: 40%;
margin-right: 10%;
}
.heading1 {
  font-family: 'Nosifer', cursive;
  color: darkred;
  margin-top: 2em;
}
.heading2 {
  font-family: 'Headland One', serif;
  margin-left: 8em;
}

